<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ciqwan.app_volley">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_kimia"
        android:label="Kamus Kimia"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DaftarAkun" />
        <activity android:name=".Home" />
        <activity android:name=".IstilahA.A" />
        <activity android:name=".IstilahA.AG" />
        <activity android:name=".IstilahA.Accumulator" />
        <activity android:name=".IstilahA.Adenosin" />
        <activity android:name=".IstilahA.Adsorben" />
        <activity android:name=".IstilahA.Aerob" />
        <activity android:name=".IstilahA.AerosolCair" />
        <activity android:name=".IstilahA.AerosolPadat" />
        <activity android:name=".IstilahA.Adsorpsi" />
        <activity android:name=".IstilahA.AffinitasElektron" />
        <activity android:name=".IstilahA.Air" />
        <activity android:name=".IstilahA.Aki" />
        <activity android:name=".IstilahA.AldolaseFruktosaDifosfat" />
        <activity android:name=".IstilahA.Aldosa" />
        <activity android:name=".IstilahA.Alkalosis" />
        <activity android:name=".IstilahA.Alkana" />
        <activity android:name=".IstilahA.Alkanal" />
        <activity android:name=".IstilahA.Alkanol" />
        <activity android:name=".IstilahA.Alkanon" />
        <activity android:name=".IstilahA.Alkena" />
        <activity android:name=".IstilahA.AlkilAlkanoat" />
        <activity android:name=".IstilahA.AlkoholPrimer" />
        <activity android:name=".IstilahA.AlkoholSekunder" />
        <activity android:name=".IstilahA.AlkoholTersier" />
        <activity android:name=".IstilahA.AlkoksiAlkana" />
        <activity android:name=".IstilahA.Alkuna" />
        <activity android:name=".IstilahA.Amfoterik" />
        <activity android:name=".IstilahA.Amilase" />
        <activity android:name=".IstilahA.DeoksiDRibosa" />
        <activity android:name=".IstilahB.B" />
        <activity android:name=".IstilahB.Basa" />
        <activity android:name=".IstilahB.BasaKonyugasi" />
        <activity android:name=".IstilahB.Batere" />
        <activity android:name=".IstilahB.Benzena" />
        <activity android:name=".IstilahB.BilanganAvogadro" />
        <activity android:name=".IstilahB.BilanganKuantumAzimut" />
        <activity android:name=".IstilahB.BilanganKuantumMagnetik" />
        <activity android:name=".IstilahB.BilanganOksidasi" />
        <activity android:name=".IstilahB.BilanganKuantumSpin" />
        <activity android:name=".IstilahB.Biomolekul" />
        <activity android:name=".IstilahB.Buih" />
        <activity android:name=".IstilahB.BusaPadat" />
        <activity android:name=".IstilahB.Konyugasi" />
        <activity android:name=".istilahC.C" />
        <activity android:name=".istilahC.CAsimetri" />
        <activity android:name=".istilahC.CincinPiranosa" />
        <activity android:name=".istilahC.CMC" />
        <activity android:name=".istilahC.Coulomb" />
        <activity android:name=".istilahD.D" />
        <activity android:name=".istilahD.Dekarboksilasi" />
        <activity android:name=".istilahD.Dehidrohalogenasi" />
        <activity android:name=".istilahD.Dehidrogenase" />
        <activity android:name=".istilahD.DefisiensiVitamin" />
        <activity android:name=".istilahD.Deaminasi" />
        <activity android:name=".istilahE.E" />
        <activity android:name=".istilahE.Elektron" />
        <activity android:name=".istilahE.ElektrolisisAir" />
        <activity android:name=".istilahE.Elektrokimia" />
        <activity android:name=".istilahE.Elektroforesa" />
        <activity android:name=".istilahE.Ektoenzim" />
        <activity android:name=".istilahF.F" />
        <activity android:name=".istilahF.Fermi" />
        <activity android:name=".istilahF.Formaldehida" />
        <activity android:name=".istilahF.Fosfatase" />
        <activity android:name=".istilahF.Fosfofruktokinase" />
        <activity android:name=".istilahF.FraksiMol" />
        <activity android:name=".istilahG.G" />
        <activity android:name=".istilahG.GayaVanDerWaals" />
        <activity android:name=".istilahG.GerakBrown" />
        <activity android:name=".istilahG.Glikogen" />
        <activity android:name=".istilahG.Glikogenesis" />
        <activity android:name=".istilahG.Glikogenolisis" />
        <activity android:name=".istilahH.H" />
        <activity android:name=".istilahH.HukumKekekalanEnergi" />
        <activity android:name=".istilahH.HukumKekekalanMassa" />
        <activity android:name=".istilahH.HukumLaplace" />
        <activity android:name=".istilahH.HukumPerbandinganBeganda" />
        <activity android:name=".istilahH.HukumPerbandinganTetap" />
        <activity android:name=".istilahH.HukumPerbandinganVolume" />
        <activity android:name=".istilahI.I" />
        <activity android:name=".istilahI.IDDM" />
        <activity android:name=".istilahI.IkatanGlikosida" />
        <activity android:name=".istilahI.IkatanHidrogen" />
        <activity android:name=".istilahI.IkatanIon" />
        <activity android:name=".istilahI.IkatanKovalen" />
        <activity android:name=".istilahI.IkatanLogam" />
        <activity android:name=".istilahJ.J" />
        <activity android:name=".istilahJ.JariJariAtom" />
        <activity android:name=".istilahJ.JembatanFosfoDiester" />
        <activity android:name=".istilahK.K" />
        <activity android:name=".istilahK.Katalisator" />
        <activity android:name=".istilahK.Katabolisme" />
        <activity android:name=".istilahK.Karbohidrat" />
        <activity android:name=".istilahK.Kalorimeter" />
        <activity android:name=".istilahK.Ka" />
        <activity android:name=".istilahL.L" />
        <activity android:name=".istilahL.Larutan" />
        <activity android:name=".istilahL.LarutanBuffer" />
        <activity android:name=".istilahL.LarutanElektrolit" />
        <activity android:name=".istilahL.Lipase" />
        <activity android:name=".istilahL.Lipid" />
        <activity android:name=".istilahM.M" />
        <activity android:name=".istilahM.Materi" />
        <activity android:name=".istilahM.Massa" />
        <activity android:name=".istilahN.N" />
        <activity android:name=".istilahN.NADP" />
        <activity android:name=".istilahN.NAD" />
        <activity android:name=".istilahO.O" />
        <activity android:name=".istilahO.Orbital" />
        <activity android:name=".istilahO.Oligosakarida" />
        <activity android:name=".istilahO.Oksidasi" />
        <activity android:name=".istilahP.P" />
        <activity android:name=".istilahP.pH" />
        <activity android:name=".istilahP.pHMeter" />
        <activity android:name=".istilahR.R1" />
        <activity android:name=".istilahR.ReaksiHidrasi" />
        <activity android:name=".istilahR.ReaksiIrreversibel" />
        <activity android:name=".istilahS.S" />
        <activity android:name=".istilahS.SCE" />
        <activity android:name=".istilahS.Sabun" />
        <activity android:name=".istilahT.T" />
        <activity android:name=".istilahT.TNT" />
        <activity android:name=".istilahT.Toksik" />
        <activity android:name=".istilahV.V" />
        <activity android:name=".istilahV.Volatil" />
        <activity android:name=".istilahV.VitaminC" />
        <activity android:name=".istilahw.W" />
        <activity android:name=".istilahw.Wax" />
        <activity android:name=".istilahz.Z" />
        <activity android:name=".istilahz.ZwitterIon" />
        <activity
            android:name=".Rumusrumus"
            android:label="Rumus Rumus" />
        <activity
            android:name=".Volumegas"
            android:label="Volume Gas" />
        <activity
            android:name=".MainHitungEnergi"
            android:label="Hitung Energi" />
        <activity android:name=".SoalQuis" />
        <activity android:name=".SoalQuis1" />
        <activity android:name=".About" />
        <activity android:name=".kimia1" />
        <activity android:name=".kimia2" />
        <activity android:name=".kimia3" />
        <activity android:name=".Penjelasan" />
        <activity android:name=".PenjelasanVolume" />
        <activity android:name=".Penjelasanhitung" />
        <activity android:name=".BaruActivity" />
        <activity android:name=".LihatActivity" />
        <activity android:name=".UbahActivity" />
        <activity android:name=".BiodataPenggunaAplikasikimia" />
        <activity android:name=".LoginDulu" />
        <activity android:name=".tunggusebentar" />
        <activity android:name=".Main" />
        <activity android:name=".kimia4" />
        <activity android:name=".kimia5"/>
    </application>

</manifest>